# Python
*.py[cod]
*$py.class
*.so
__pycache__/

# Django
*.log
media/
staticfiles/

# Node
node_modules/
.next/
out/
build/
dist/

# Virtual Environments (Cannot be shared across laptops due to absolute paths)
venv/
env/
ENV/

# Allowed files that were previously ignored
!*.env
!*.env.*
!db.sqlite3

.vscode/
.idea/
.DS_Store
*.bak
