# Django Core
Django==5.0.1
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Database
psycopg[binary]>=3.1.0

# Authentication
djangorestframework-simplejwt==5.3.1
djoser==2.2.2

# Image processing
Pillow>=10.4.0

# Environment variables
python-decouple==3.8

# Utils
django-filter==23.5

